#info-div {
    padding: 8px;
    font-size: 0.8em;
    background-color: rgba(127, 127, 127, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}
