@import "left-div.css";
@import "info-div.css";
@import "memes-div.css";
@import "meme-form.css";
@import "meme.css";

html, body {
    background-color: #000;
    height: 100%;
    font-family: Tahoma, serif;
}

#main-div {
    background-color: gray;
    width: 100%;
    height: 100%;
    padding-left: 4px;
    padding-right: 4px;
}

