.meme-elem{
    width: 30vw;
    /*max-width: 30vw;*/
    /*min-width: 30vw;*/
    /*height: fit-content;*/
    /*min-height: 3vh;*/
    /*height: 100% ;*/
    border: 1px solid red;
    position: relative;
    /*display: inline-block;*/
    box-shadow: #555 5px 5px 5px;
    /*vertical-align: baseline;*/
    margin: 5px 5px
}

.meme-img {
    /*position: absolute;*/
    /*bottom: 0;*/
    width:100%;
    /*vertical-align: bottom;*/
    display: inline-block;
    vertical-align: top;

}
.meme-text{
    word-wrap: break-word;
    color: white;
    z-index: 1000;
    position: relative;
    text-align: center;
    width: 100%;
    /*height: 100%;*/
    /*overflow: scroll;*/
    border: 1px solid blue;

}

.meme-top {
    position: absolute;
    top: 0;
    /*display: inline-block;*/
    /*vertical-align: top;*/
}

.meme-btm {
    /*display: inline;*/
    /*vertical-align: bottom;*/
    /*display: block;*/
    position: absolute;
    bottom: 0;
    /*!*min-height: 100%;*!*/
    /*height: calc(100%-50px);*/
}


