
#memes-div {
    width: 65%;
    height: 94.5%;
    background-color: #aaa;
    float: right;
    padding: 10px;
    /*display: list-item;*/
}

.meme-container {
    position: relative;
    /*float: left;*/
    width: 30%;
    min-width: 30%;
    /*height: 30%;*/
    /*min-height: 30%;*/
    border: 2px solid yellow;
    /*padding: 1vw 1vw 0 0;*/
    margin: 10px;
    display: inline-block;
}

.meme-container-remove-bt {
    position: absolute;
    top: -1vw;
    right: 0;
    font-size: 3vw;
    color: #666;
    z-index: 10000;
    user-select: none;
    cursor: pointer;
    opacity: 0;
    transition: 0.7s;
}

.meme-container-remove-bt:hover {
    color: red;
    font-weight: bolder;
}


.meme-container:hover .meme-container-remove-bt{
    opacity: 1;
}
