#form-div .input-block {
    margin-top: 5px;
    margin-bottom: 5px;
}

#form-div .form-label {
    font-size: 0.75em;
    color: coral;
    display: block;
}

#form-div .form-input {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 1.5em;
}

#form-div .form-input:hover {
    border: 2px solid red;
}

#form-div .input-err{
    color: #ddd;
    font-size: 0.8em;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
    width: 100%;
    text-align: right;
}

#form-div #submit-bt {
    border: none;
    background-color: rgba(255, 127, 64, 0.3);
    border-radius: 3px;
    width: 101%;
    margin-top: 15px;
    font-size: 0.8em;
    color: #333;
    height: 1.5em;
    transition: 0.7s;
}

#form-div #submit-bt:hover {
    background-color: rgba(255, 127, 64, 1.0);
    box-shadow: #333 3px 3px 3px;
    cursor: pointer;
    height: 2em;
}
