#meme-form .input-block {
    margin-top: 5px;
    margin-bottom: 5px;
}

#meme-form .form-label {
    font-size: 0.7em;
    color: coral;
    display: block;
}

#meme-form .form-input {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 1.5em;
}

#meme-form .form-input:hover {
    border: 2px solid red;
}

#meme-form .input-err{
    color: #ddd;
    font-size: 0.7em;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
    width: 100%;
    text-align: right;
}

#meme-form #submit-bt {
    border: none;
    background-color: rgba(255, 127, 64, 0.6);
    border-radius: 3px;
    width: 101%;
    margin-top: 15px;
    font-size: 0.7em;
    color: #333;
    height: 1.5em;
}

#meme-form #submit-bt:hover {
    background-color: rgba(255, 127, 64, 0.8);
    box-shadow: #333 3px 3px 3px;
}
