.meme-elem {
    width: 30vw;
    max-width: 300px;
    position: relative;
    box-shadow: #555 5px 5px 5px;
    margin: 5px 5px
}

.meme-img {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.meme-text {
    word-wrap: break-word;
    color: white;
    z-index: 1000;
    position: relative;
    text-align: center;
    width: 100%;
}

.meme-top {
    position: absolute;
    top: 0;
}

.meme-btm {
    position: absolute;
    bottom: 0;
}


