.meme-elem{
    width: 100%;
    border: 1px solid green;
    position: relative;
    display: inline-block;
    box-shadow: gray 4px 4px 4px;
}

.meme-elem .meme-img {
    position: absolute;
    top: 0;
}
.meme-elem .meme-text{
    word-wrap: break-word;
    /*font-size: 2vw;*/
    color: white;
    z-index: 1000;
    position: relative;
    text-align: center;
    width: 100%;
}


