#memes-div {
    width: 68%;
    max-height: 97.5% !important;
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    overflow-y: scroll;
    border: 2px solid yellow;
}

.meme-container-remove-bt {
    position: absolute;
    top: -1vw;
    right: 0;
    font-size: 3vw;
    color: #666;
    z-index: 10000;
    user-select: none;
    cursor: pointer;
    opacity: 0;
    transition: 0.7s;
}

.meme-container-remove-bt:hover {
    color: red;
    font-weight: bolder;
}

.meme-container:hover .meme-container-remove-bt {
    opacity: 1;
}
